{% extends 'web/layout/basic.html' %}
{% load static %}
{% block title %}短信登录{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/account.css' %}">
    <style>
        .errmsg {
            color: red;
            font-size: 13px;
            position: absolute;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="account">
        <div class="title">
            短信登录
        </div>
        <form id="loginForm" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-7" style="padding-left: 0px;">
                                {{ field }}
                                <span class="errmsg"></span>
                            </div>
                            <div class="col-md-5">
                                <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{ field.label }}</label>
                        {{ field }}
                        <span class="errmsg"></span>
                    </div>
                {% endif %}
            {% endfor %}
            <button id="btnSummit" type="button" class="btn btn-primary">登 录</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            bindClickBtnSms();
            bindClickBtnSummit();
        })

        function bindClickBtnSms() {
            $('#btnSms').click(function () {
                $('.errmsg').empty();
                var mobile_phone = $('#id_mobile_phone').val();
                $.ajax({
                    url: '{% url 'web:send_sms' %}',
                    type: 'GET',
                    data: {'mobile_phone': mobile_phone, 'tpl': 'login'},
                    dataType: 'JSON',
                    success: function (res) {
                        // 发送成功显示倒计时
                        if (res.status) {
                            setBtnSmsRemind();
                        } else {
                            $.each(res.error, function (key, value) {
                                $('#id_' + key).next().text(value)
                            })
                        }
                    }
                })
            })
        }
        
        function bindClickBtnSummit() {
            $('#btnSummit').click(function () {
                $('.errmsg').empty();
                $.ajax({
                    url: '{% url 'web:login_sms' %}',
                    type: 'POST',
                    data: $('#loginForm').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            location.href = res.data;
                        } else {
                            console.log(res.error);
                            $.each(res.error, function (key, value) {
                                $('#id_' + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

        function setBtnSmsRemind() {
            $('#btnSms').prop('disabled', true);
            var time = 60;
            var remind = setInterval(function () {
                $('#btnSms').val(time + '秒后重新发送短信');
                time = time - 1;
                if (time == 0) {
                    clearInterval(remind);
                    $('#btnSms').val('点击获取验证码').prop('disabled', false);
                }
            }, 1000)
        }
    </script>
{% endblock %}